<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="LOG_FILE" class="ch.qos.logback.core.FileAppender">
        <file>test.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{15} - %msg%n%rEx</pattern>
            <immediateFlush>false</immediateFlush>
        </encoder>
    </appender>

    <logger name="org.apache.james" level="DEBUG" />

    <logger name="org.apache.james.backends.cassandra.DockerCassandraRule" level="WARN" />


    <root level="INFO">
        <appender-ref ref="LOG_FILE" />
    </root>

</configuration>
