<?xml version="1.0" encoding="UTF-8" ?>

<configuration scan="false">

        <appender name="FILE" class="ch.qos.logback.core.FileAppender">
                <File>james.log</File>
                <encoder>
          <pattern>%relative [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        </appender>

        <logger name="org.apache.cassandra" level="INFO" />
        <logger name="com.datastax" level="INFO" />
        
         <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
          <pattern>%relative [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
      </appender>
                
        <root level="WARN">
                <appender-ref ref="FILE" />
                <appender-ref ref="STDOUT" />
        </root>

</configuration>
